.header-container {
  height: 520px;
  width: 100%;
  background-color: #f4f1ec;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  padding-top: 120px;
}

.user {
  justify-content: center;
  align-items: center;
  z-index: -1;
  display: flex;
}
