.new-tweet-container {
  padding: 1em;
  border: 0.1em solid #545149;
  margin-bottom: 1em;
}

.fa-ghost {
  padding: 0 0.5em;
}

.handle {
  padding: 0 0.5em;
  color: #4056a1;
}

.tweet {
  border-bottom: 0.1em solid #545149;
  padding-bottom: 0.25em;
}

.user-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-pic {
  padding-right: 0.5em;
}

.tweet-icons {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0.2em 0 0.2em;
}

.icons {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5em;
}

.fa-flag,
.fa-retweet,
.fa-heart {
  padding: 0 0.2em;
}

.fa-flag:hover,
.fa-retweet:hover,
.fa-heart:hover {
  color: #4056a1;
}

article:hover {
  box-shadow: 0.1em 0.1em 0.1em 0.1em #4056a1;
}
